@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: "Outfit", sans-serif;

  /* COLOUR PALETTES */
  --polar: oklch(100% 0 0);

  --peach-50: oklch(0.975 0.017 67.63);
  --peach-100: oklch(0.953 0.036 71.43);
  --peach-200: oklch(0.912 0.066 69.8);
  --peach-300: oklch(0.868 0.101 69.63);
  --peach-400: oklch(0.813 0.142 66.66);
  --peach-500: oklch(0.764 0.172 60.69);
  --peach-600: oklch(0.677 0.164 57.11);
  --peach-700: oklch(0.549 0.131 58.15);
  --peach-800: oklch(0.413 0.097 60.15);
  --peach-900: oklch(0.264 0.059 65.6);
  --peach-950: oklch(0.176 0.037 75.52);

  --teal-50: oklch(0.965 0.015 191.64);
  --teal-100: oklch(0.936 0.027 191);
  --teal-200: oklch(0.866 0.055 191.88);
  --teal-300: oklch(0.805 0.079 190.59);
  --teal-400: oklch(0.751 0.096 190.17);
  --teal-500: oklch(0.69 0.099 189.17);
  --teal-600: oklch(0.589 0.084 189.9);
  --teal-700: oklch(0.475 0.066 189.55);
  --teal-800: oklch(0.366 0.049 189.23);
  --teal-900: oklch(0.233 0.028 187.62);
  --teal-950: oklch(0.175 0.018 189);

  --sand-50: oklch(0.985 0.003 84.4);
  --sand-100: oklch(0.974 0.006 84.48);
  --sand-200: oklch(0.944 0.012 84.54);
  --sand-300: oklch(0.863 0.029 84.57);
  --sand-400: oklch(0.785 0.045 83.15);
  --sand-500: oklch(0.701 0.062 84.29);
  --sand-600: oklch(0.611 0.067 83);
  --sand-700: oklch(0.493 0.052 84.72);
  --sand-800: oklch(0.377 0.038 84.15);
  --sand-900: oklch(0.241 0.021 86.29);
  --sand-950: oklch(0.179 0.013 84.45);

  --boulder-50: oklch(0.985 0.002 247.839);
  --boulder-100: oklch(0.985 0.002 247.839);
  --boulder-200: oklch(0.928 0.006 264.531);
  --boulder-300: oklch(0.872 0.01 258.338);
  --boulder-400: oklch(0.707 0.022 261.325);
  --boulder-500: oklch(0.551 0.027 264.364);
  --boulder-600: oklch(0.446 0.03 256.802);
  --boulder-700: oklch(0.373 0.034 259.733);
  --boulder-800: oklch(0.278 0.033 256.848);
  --boulder-900: oklch(0.21 0.034 264.665);
  --boulder-950: oklch(0.13 0.028 261.692);

  /* TOKENS (LIGHT) */
  --color-background: var(--polar);
  --color-background-secondary: var(--boulder-100);
  --color-background-inverse: var(--boulder-950);
  --color-foreground: var(--boulder-950);
  --color-foreground-secondary: var(--boulder-500);
  --color-foreground-inverse: var(--polar);
  --color-accent: var(--peach-200);
}

.dark {
  /* TOKENS DARK */
  --color-background: var(--boulder-900);
  --color-background-secondary: var(--boulder-800);
  --color-background-inverse: var(--polar);
  --color-foreground: var(--boulder-100);
  --color-foreground-secondary: var(--boulder-500);
  --color-foreground-inverse: var(--boulder-950);
  --color-accent: var(--peach-900);
}

body {
  font-family: var(--font-sans);
  font-weight: 400;
  font-style: normal;
  color: var(--color-foreground);
  background: var(--color-background-inverse);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradient 10s ease infinite;
}
